--- 
layout : layouthome 
title : ASP.NET Hacker 
--- 

{% assign posts = site.posts | where:'group', post.date %}

<ul class="posts">
    {% for post in site.posts limit:5 %}
    <li>
        <div class="idea">
            {% if forloop.first and post.layout == "post" %}
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            {% else %}
            <h2><a class="postlink" href="{{ post.url }}">{{ post.title }}</a></h2>
            {% endif %}
            <p class="postdate">{{ post.author }} - {{ post.date | date: "%d %B, %Y" }}</p>
            <p>{{ post.teaser }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

<p>&nbsp;</p>
<h2>Older posts</h2>
<ul class="postArchive">
    {% for post in site.posts offset:5 limit:10 %}
    <li>
        <span class="olderpostdate"> {{ post.date | date: "%d %b %Y"  }} </span> <a class="postlink" href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>

<p>&nbsp;</p>
<h3>
    <a href="/archive.html">Visit the blog archive to view some more older posts</a>
</h3>

<article>
    <footer>
        <div>
            <p>
                <a href="https://www.yoo.digital/?utm_source=asp.net-hacker.rocks&utm_medium=banner&utm_campaign=job-ad&utm_id=Job-Ad&utm_content=ad_blog_juergen" target="_blank">
                    <img src="/img/yoo-hire-juergen.gif" class="add" alt="Jürgen Gutsch" />
                </a><br>
                Current blog sponsor: <a href="https://www.yoo.digital/?utm_source=asp.net-hacker.rocks&utm_medium=banner&utm_campaign=job-ad&utm_id=Job-Ad&utm_content=ad_blog_juergen" target="_blank">YOO AG</a>
            </p>
        </div>
        <div>
            <p>
                <img src="/img/guj.png" alt="Jürgen Gutsch" />
                <strong>Jürgen Gutsch</strong><br>
                <a href="https://twitter.com/sharpcms/" target="_blank"><strong>@sharpcms</strong></a><br>
                <span>.NET junkie, addicted to web and software development, clean coder, former MVP for Developer Technologies</span>
            </p>
        </div>
    </footer>
</article>