<!DOCTYPE html>
<html lang="en-us">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-390207-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-390207-7');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Blog Feed" />
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed" />
    <title>{{ page.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link href="/css/prism.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/jquery.cookiebar.css" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="ASP.NET Hacker">
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:image" content="{{ site.baseurl }}{{ page.image }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:description" content="{{ page.Teaser }}" />
    <meta property="fb:app_id" content="126274111070499" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />
    <meta property="article:author" content="https://www.facebook.com/juergen.gutsch" />
    <meta property="article:publisher" content="https://www.facebook.com/juergen.gutsch" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sharpcms" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.Teaser }}" />
    <meta name="twitter:image" content="{{ site.baseurl }}{{ page.image }}" />

    <meta name="specificfeeds-verification-code" content="lpMu3RWdRUYdULk0rwP9" />

    <script src="/js/jquery.min.js"></script>
    <script>
        var pp_accepted = false;
        if ($) {
            $(function () {
                $.cookieBar({
                    acceptFunction: function (cookieValue) {
                        if (cookieValue != 'enabled' && cookieValue != 'pp_accepted') {
                            window.location = window.location.href;
                        }
                        pp_accepted = true;
                    },
                    declineFunction: function (cookieValue) {
                        if (cookieValue == 'enabled' || cookieValue == 'pp_accepted') {
                            window.location = window.location.href;
                        }
                        pp_accepted = false;
                    },
                });

                pp_accepted = $.cookieBar('cookies');
            });
        }
    </script>
</head>

<body>
    <div id="container">
        {{ content }}
        <div id="footer">
            <div class="left">
                <p>Friends blogs</p>
                <ul>
                    <li><a target="_blank" href="https://devblogs.microsoft.com/aspnet/">ASP.NET Blog</a></li>
                    <li><a target="_blank" href="https://devblogs.microsoft.com/dotnet/">.NET Blog</a></li>
                    <li><a target="_blank" href="https://blogs.dotnetgerman.com/">DotNetGerman Bloggers</a></li>
                    <li><a target="_blank" href="https://weblogs.asp.net/scottgu/default.aspx">ScottGu's Blog</a></li>
                    <li><a target="_blank" href="https://blog.codeinside.eu/">Robert Mühsig & Oliver Guhr</a></li>
                    <li><a target="_blank" href="https://www.hanselman.com/blog/">Scott Hanselman</a></li>
                    <li><a target="_blank" href="https://weblog.west-wind.com/">Rick Strahl's Web Log</a></li>
                    <li><a target="_blank" href="https://odetocode.com/">K. Scott Allen</a></li>
                    <li><a target="_blank" href="https://davidfowl.com/">David Fowler</a></li>
                    <li><a target="_blank" href="https://damienbod.com/">Damien Bowden</a></li>
                    <li><a target="_blank" href="https://thomasbandt.com/">Thomas goes .NET</a></li>
                    <li><a target="_blank" href="https://www.norberteder.com/">Norbert Eder</a></li>
                    <li><a target="_blank" href="https://blog.ppedv.de/author/hannesp.aspx">Hannes Preishuber</a></li>
                    <li><a target="_blank" href="https://codetherapist.github.io/">Code Therapist</a></li>
                    <li><a target="_blank" href="https://www.stevejgordon.co.uk/">Steve Gordon</a></li>
                    <li><a target="_blank" href="https://andrewlock.net/">Andrew Lock</a></li>
                </ul>
            </div>
            <div class="right">
                <p>My favorite Books</p>
                <ul>
                    <li><a target="_blank" href="https://amzn.to/3qV02tm">Customizing ASP.NET Core</a></li>
                    <li><a target="_blank" href="https://amzn.to/30NVeM3">Entwurfsmuster von Kopf bis Fuß (ger)</a></li>
                    <li><a target="_blank" href="https://amzn.to/3vxlZlX">Framework Design Guidelines</a></li>
                    <li><a target="_blank" href="https://amzn.to/3bT6ZHj">Clean Code: A Handbook of Agile Software
                            Craftsmanship </a></li>
                    <li><a target="_blank" href="https://amzn.to/3bR91rq">Effektives Arbeiten mit Legacy Code.
                            Refactoring und Testen bestehender Software (ger)</a></li>
                    <li><a target="_blank" href="https://amzn.to/3rWZDIh">Why Software Sucks...and What You Can Do about
                            It</a></li>
                    <li><a target="_blank" href="https://amzn.to/3bROP8B">Der Pragmatische Programmierer (ger)</a></li>
                    <li><a target="_blank" href="https://amzn.to/3cIqaTe">The Art Of Unit Testing</a></li>
                    <li><a target="_blank"
                            href="https://www.amazon.de/gp/product/B00MEYK0SC/ref=as_li_tl?ie=UTF8&amp;camp=1638&amp;creative=6742&amp;creativeASIN=B00MEYK0SC&amp;linkCode=as2&amp;tag=gutschonline-21&amp;linkId=ZBLKLEPAR2RVWZB2">Test
                            Driven Development: By Example</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div>
                <ul class="social-icons">
                    <li><a href="https://twitter.com/sharpcms" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/juergen.gutsch" target="_blank"><i
                                class="fab fa-facebook"></i></a></li>
                    <li><a href="https://github.com/JuergenGutsch" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                    <li><a href="https://bitbucket.org/JuergenGutsch" target="_blank"><i
                                class="fab fa-bitbucket"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/juergengutsch" target="_blank"><i
                                class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://www.xing.com/profiles/Juergen_Gutsch2" target="_blank"><i
                                class="fab fa-xing"></i></a></li>
                    <li><a href="https://strava.com/athletes/juergengutsch" target="_blank"><i
                                class="fab fa-strava"></i></a></li>
                    <li><a href="http://feeds.feedburner.com/jgutsch" target="_blank"><i class="fas fa-rss"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/js/prism.js"></script>
    <script type="text/javascript" src="/js/jquery.cookiebar.js"></script>
</body>
</html>
