--- layout: layout ---

<div id="header">
    <a href="/" id="home" title="Home" alt="Home"><img src="{{ site.baseurl }}/img/logo-dark.png" alt="ASP.NET Hacker" /></a>
    <div class="section">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/archive.html">archive</a></li>
            <li><a href="/about.html">about</a></li>
            <li><a href="/privacy.html">privacy</a></li>
            <li id="feedlink"><a href="http://feeds.feedburner.com/jgutsch"><span class="fa fa-rss">&nbsp;</span> feed</a></li>
        </ul>
    </div>
</div>
<div id="content">
    {{content}}
</div>