---
layout: layout
---

<article>
	<header>
		<h1> {{page.title}} </h1>
		<p class="postdate">{{ page.author }} - {{ page.date | date: "%e %B, %Y"  }}</p>
		<ul class="postdate">
		{% for tag in page.tags %}
			<li><a href="#">{{ tag }}</a></li>
		{% endfor %}
		</ul>
	</header>
	
	{{ content }}
	
	<footer>
		<div>
			<p>
				<img src="/img/guj.png" alt="Jürgen Gutsch" />
				<strong>Jürgen Gutsch</strong><br>
				<a href="https://twitter.com/sharpcms/" target="_blank"><strong>@sharpcms</strong></a><br>
				<span>.NET junkie, addicted to web and software development, clean coder, MVP for Visual Studio and Development Technologies</span>
			</p>
		</div>
	</footer>
</article>
