--- layout: layoutpage ---

<article>
    <header>
        <h1> {{page.title}} </h1>
        <p class="postdate">{{ page.author }} - {{ page.date | date: "%e %B, %Y" }}</p>
    </header>

    {{ content }}

    <footer>
        <div>
            <p>
                <a href="https://www.yoo.digital/?utm_source=asp.net-hacker.rocks&utm_medium=banner&utm_campaign=job-ad&utm_id=Job-Ad&utm_content=ad_blog_juergen" target="_blank">
                    <img src="/img/yoo-hire-juergen.gif" class="add" alt="Jürgen Gutsch" />
                </a><br>
                Current blog sponsor: <a href="https://www.yoo.digital/?utm_source=asp.net-hacker.rocks&utm_medium=banner&utm_campaign=job-ad&utm_id=Job-Ad&utm_content=ad_blog_juergen" target="_blank">YOO AG</a>
            </p>
        </div>
        <div>
            <p>
                <img src="/img/guj.png" alt="Jürgen Gutsch" />
                <strong>Jürgen Gutsch</strong><br/>
                <a href="https://twitter.com/sharpcms/" target="_blank"><strong>@sharpcms</strong></a><br/>
                <span>.NET junkie, addicted to web and software development, clean coder, MVP for Developer Technologies</span>
            </p>
        </div>
    </footer>
</article>