---
layout: layout
---

<article>
	<header>
		<h1> {{page.title}} </h1>
		<p class="postdate">{{ page.author }} - {{ page.date | date: "%d %B, %Y"  }}</p>
		<!--<ul class="postdate">
		{% for tag in page.tags %}
			<li><a href="#">{{ tag }}</a></li>
		{% endfor %}
		</ul>-->
	</header>
	
	{{ content }}
		
	<footer>
		<div>
			<p>
				<img src="/img/guj.png" alt="Jürgen Gutsch" />
				<strong>Jürgen Gutsch</strong><br>
				<a href="https://twitter.com/sharpcms/" target="_blank"><strong>@sharpcms</strong></a><br>
				<span>.NET junkie, addicted to web and software development, clean coder, MVP for Visual Studio and Development Technologies</span>
			</p>
		</div>
		<div id="page-navigation clear"> 
			<div class="left"> {% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&larr; {{page.previous.title}}</a> {% endif %} </div> 
			<div class="right"> {% if page.next.url %} <a href="{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} &rarr; </a> {% endif %} </div> 
			<div class="clear">&nbsp;</div>
		</div> 

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Footer -->
		<ins class="adsbygoogle"
			style="display:inline-block;width:728px;height:90px"
			data-ad-client="ca-pub-2112692016899285"
			data-ad-slot="1626311050"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({
				google_ad_client: "ca-pub-2112692016899285",
				enable_page_level_ads: true
			});
		</script>
				
		{% if page.comments == true %}
		<div id="disqus_thread"></div>
		<script>				
		var disqus_config = function () {
			this.page.url = location.href;
			this.page.identifier = location.pathname; 
		};
		
		(function() { 
		var d = document, s = d.createElement('script');
		
		s.src = '//aspnethacker.disqus.com/embed.js';
		
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		{% endif %}
	</footer>
</article>

